@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap");

:root {
    --background-1: #0f0f0f;
    --background-2: #1a1a1a;
    --background-3: #2b2b2b;
    --white: #fafaf8;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-color: var(--background-1);
    color: var(--white);
    font-family: "Baloo Tamma 2", sans-serif;
    margin: auto;
}

.center_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.vertical_test {
    display: flex;
    flex-direction: column;
}
