@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap");

:root {
    --background-1: #0f0f0f;
    --background-2: #1a1a1a;
    --background-3: #2b2b2b;
    --white: #fafaf8;
    --primary-green: #6CBF4F;
    --primary-green-dark: #4F9A39;
    --accent-green-light: #A7E68A;
    --accent-green-deep: #2F7A24;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-color: var(--background-1);
    color: var(--white);
    font-family: "Baloo Tamma 2", sans-serif;
    margin: auto;
}

.center_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.custom_button {
  padding: 0.8rem 1.4rem;
  border: 0.1rem solid var(--primary-green-dark);
  border-radius: 2rem;
  background: var(--primary-green);
  color: var(--white);
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.custom_button:hover {
  background: var(--primary-green-dark);
}



/* For developing, remove later */
.vertical_test {
    display: flex;
    flex-direction: column;
}
