@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');

:root{
  --background-1: #0F0F0F;
  --background-2: #1A1A1A;
  --background-3: #2B2B2B;
  --white: #FAFAF8;
}

body {
  background-color: var(--background-1);
  color: var(--white);
  font-family: "Baloo Tamma 2", sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.vertical_test {
  display: flex;
  flex-direction: column;
}
