@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --background-1: #0f0f0f;
    --background-2: #1a1a1a;
    --background-3: #2b2b2b;
    --white: #fafaf8;
    --primary-green: #6cbf4f;
    --primary-green-dark: #4f9a39;
    --accent-green-light: #a7e68a;
    --accent-green-deep: #2f7a24;
}

* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-color: var(--background-1);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

.warning_span {
    font-size: 0.9rem;
    margin: 0.2rem;
    color: red;
    text-align: center;
}

.disabled_span {
    font-size: 0.9rem;
    margin: 0.2rem;
    color: red;
    text-align: center;
    visibility: hidden;
}

/* Components */
.custom_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    margin: 0.2rem;
    border: 0;
    border-radius: 2rem;
    background: var(--primary-green);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.custom_button:hover {
    background: var(--primary-green-dark);
}

.button_logo {
    font-size: 1.5rem;
}

.button_nobg {
    background: none;
    font-size: 0.9rem;
    margin: 0rem;
}

.button_nobg:hover {
    background: none;
    font-weight: bolder;
}

.custom_input {
    padding: 1rem;
    margin: 0.2rem;
    border: 0;
    border-radius: 2rem;
    background: var(--primary-green);
    border: 2px solid var(--primary-green);
    color: var(--white);
    font-size: 1rem;
    transition: 0.2s ease;
}

.custom_input:hover,
.custom_input:focus {
    background: var(--primary-green);
    border: 2px solid var(--primary-green-dark);
    outline: none;
}

.custom_input::placeholder {
    color: var(--white); /* or any color you want */
    opacity: 0.9; /* optional, browsers sometimes fade placeholders */
}

.time_selector_div {
    display: grid;
    grid-template-columns: repeat(4, minmax(1vw, 1fr));
}

.time_selector_button {
    width: 3rem;
}

.time_selector_selected {
    border: 2px solid var(--white);
}

/* Login */
.login_root {
    display: flex;
    width: fit-content;
    height: 35rem;
    background-color: var(--background-2);
    padding: 1rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.login_logo_div,
.dashboard_logo_div,
.add_group_div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login_main_div {
    height: 30rem;
}

.center_column_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_row_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.login_label {
    font-size: 1.1rem;
    margin: 0.4rem 0rem;
}

.login_logo {
    height: 8rem;
    transition: 0.2s ease-in-out;
}

.login_logo:hover {
    animation: shake 0.8s ease-in-out;
}

/* Session Group */

.session_group_root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18vh;
    min-width: 10vw;
    background-color: var(--background-3);
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    transition: 0.2s ease;
}

.session_group_root:hover {
    background-color: var(--primary-green-dark);
}

.session_group_title {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.session_group_times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Dashboard */
.dashboard_root {
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    width: calc(100vw - 4rem);
    display: flex;
    background-color: var(--background-2);
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
}

.dashboard_title_span {
    font-size: 2.2rem;
    font-weight: bold;
}

.button_logo_dashboard {
    font-size: 2rem;
}

.dashboard_session_group_div {
    display: grid;
    grid-template-columns: repeat(5, minmax(10vw, 1fr));
    max-height: 70vh;
    width: 90%;
    padding: 2rem;
    margin: 1rem;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden; /* avoid horizontal scrolling */
    scrollbar-width: thick;
    scrollbar-color: var(--primary-green) transparent;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* smoother friction */
    position: relative;
}

/* Add group session */
.add_group_root {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    width: 35rem;
    background-color: var(--background-2);
    padding: 2rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.add_group_title_span {
    font-size: 1.7rem;
    font-weight: bold;
}

.add_group_main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.add_group_label {
    font-size: 1.1rem;
    margin: 0.4rem 0rem;
}

.extra_margin {
    margin-top: 2rem;
}

/* For developing, remove later */
.vertical_test {
    display: flex;
    flex-direction: column;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-6px);
    }
    40% {
        transform: translateX(6px);
    }
    60% {
        transform: translateX(-4px);
    }
    80% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}
